<h1 style="font-size: 20px; text-align: center; vertical-align: middle; line-height: 25px">About</h1>

<div>
  <p style="height: 400px; width: 600px; text-align: center">
    <%= @about_text %>
  </p>
</div>