

<p>
  <%= form_for @task_list, url: "#{@task_list.id}", html: {method: "put"} do |f| %>
      <%= f.label "Edit Task Name" %>
      <%= f.text_field :name %>
      <%= f.submit 'Update Task Name' %>
  <% end %>
</p>